<div class='portal-auth-infobar'>
	<p>User is logged in</p><p>Logout</p>
</div>
<div class='portal-dashboard-flexcontainer'>
	<ul class='portal-dashboard-items-collection'>

		<!-- This is the loader placeholder for the required menu items  -->
		<li class='portal-dashboard-items-set'> 
			<ul class='portal-dashboard-items-set-list'>

				<!-- This is the loader placeholder for the listitems from each menu item -->
				<li class='portal-dashboard-items-set-listitem'></li>
			</ul>
		</li>
	</ul>
</div>