<section class="container animated fadeInUp">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="login-wrapper">
        <header>
         <div class="row" [hidden]="!error">
           <div class="col-xs-12"> 
            <br>
              <div class="alert alert-warning" role="alert">
                <p>{{errorMsg | translate}}</p>
              </div>
            </div>
          </div>
          <div class="brand">
          </div>
        </header>
        <div class="row">
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" >
              {{ 'customer.login.sign.in' | translate }}
            </h3>
          </div>
          <div class="panel-body" >
            <form class="form-horizontal" name="form-idv" id="enter-info" novalidate >
              <div class="form-group" *ngFor="let question of controlsArray">
                <div class="col-md-12">
                  <h4 class="header-login bold">{{question.name | translate}}</h4>
                  <input type="text" id="{{question.name}}" [formControl]="question" [(ngModel)]="question.answer"  name="question.name" class="form-control login-input"  autocomplete='off'>
                  <!-- <small>{{question.errors | json}}</small> -->
                  <div *ngIf="question.errors">
                    <div>
                    <small *ngIf="question.errors.validDate && question.touched">{{'date.input.format.start' | translate}}<span>{{loginDate}}</span><span>{{'date.input.format.end' | translate}}</span></small>
                    </div>
                    <div>
                    <small *ngIf="question.errors.required && question.touched">{{ 'required' | translate }}</small>
                    </div>
                  </div>
                </div>
              </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <button type="button" (click)="submitIdvResponses(idvQuestions)" id="login-btn" class="btn btn-primary btn-block">{{ 'customer.login.sign.in' | translate }}</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
